/* historial.component.css */

.content {
    margin-left: 220px; /* Ajusta según tus necesidades */
    padding: 20px;
    position: relative;
    z-index: -1;
  }
  
  .screenshot-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    
  }
  
  .screenshot {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

  }
  
  .screenshot img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    
  }
  
  .screenshot p {
    text-align: center;
    padding: 10px;
    margin: 0;
    color: black;
    font-weight: bold;
  }
  .screenshot:hover {
    transform: scale(1.2);
  }
  