<!-- historial.component.html -->
<app-menucam/>

<div class="content">
    <h2>Historial de Capturas</h2>
    
    <!-- Aquí puedes agregar la lógica y presentación del historial de capturas -->
    <div class="screenshot-list">
      <!-- Ejemplo de una captura en el historial -->
      <div class="screenshot">
        <img src="assets/images/camara.jpg" alt="Captura de pantalla">
        <p>Fecha y hora: 2024-02-29 12:30 PM</p>
      </div>
  
      <!-- Puedes repetir este bloque para cada captura en el historial -->
    </div>
  </div>
  